<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>test angular</title>
	 <link href="/../media/styles/bootstrap.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="/../app/client/app/build/build.js"></script> 
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->

</head>
<body ng-controller="registerCtrl">
<hr>
<div class="container" style="width: 400px;">
	<!-- Errors-->
 <!-- <div class="alert alert-danger" ng-show="show_errors">
    <strong>Errors!</strong><br>
    <p ng-repeat="data in data">- {{data}}</p>
	</div>-->
  <!-- Ok-->
  <div class="alert alert-success alert-dismissable" ng-show="ok">
  <strong>Ok!</strong> <br>
  <p>- {{data}}</p>
</div>
  <form class="form-horizontal" ng-show="form_controll">
   <!--email -->
    <div class="form-group">
     <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">          
		<input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="email1"><br>
		<span style="color:red;">{{email1}}</span>
      </div>
    </div>
    <!--username or login -->
    <div class="form-group">
      <label class="control-label col-sm-2" for="login">Login:</label>
      <div class="col-sm-10">
		<input type="text" class="form-control" id="username" placeholder="Enter login" ng-model="username"><br>
		<span style="color:red;">{{username}}</span>
      </div>
    </div>
    <!--password -->
    <div class="form-group">
     <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">          
		<input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="password"><br>
		<span style="color:red;">{{password}}</span>
      </div>
    </div>
    <!-- confirm password -->
    <div class="form-group">
     <label class="control-label col-sm-2" for="password_confirm">Confirm password:</label>
      <div class="col-sm-10">          
		<input type="password" class="form-control" id="password_confirm" placeholder="Enter password confirm" ng-model="password_confirm"><br>
		<span style="color:red;">{{password_confirm}}</span>
      </div>
    </div>
    <!--first_name -->
    <div class="form-group">
     <label class="control-label col-sm-2" for="password">First name:</label>
      <div class="col-sm-10">          
		<input type="text" class="form-control" id="first_name" placeholder="Enter first name" ng-model="first_name"><br>
		<span style="color:red;">{{first_name}}</span>
      </div>
    </div>
     <!--last_name -->
     <div class="form-group">
     <label class="control-label col-sm-2" for="last_name">Last name:</label>
      <div class="col-sm-10">          
		<input type="text" class="form-control" id="last_name" placeholder="Enter last name" ng-model="last_name"><br>
		<span style="color:red;">{{last_name}}</span>
      </div>
    </div>
<!--country-->
     <div class="form-group">
     <label class="control-label col-sm-2" for="country">Country:</label>
      <div class="col-sm-10">          
		<input type="text" class="form-control" id="country" placeholder="Enter country" ng-model="country"><br>
		<span style="color:red;">{{country}}</span>
      </div>
    </div>
    <!--city-->
     <div class="form-group">
     <label class="control-label col-sm-2" for="city">City:</label>
      <div class="col-sm-10">          
		<input type="text" class="form-control" id="city" placeholder="Enter city" ng-model="city"><br>
		<span style="color:red;">{{city}}</span>
      </div>
    </div>
    <!--company-->
     <div class="form-group">
     <label class="control-label col-sm-2" for="city">Company:</label>
      <div class="col-sm-10">          
		<input type="text" class="form-control" id="company" placeholder="Enter company" ng-model="company"><br>
		<span style="color:red;">{{company}}</span>
      </div>
    </div>
    <!--phone_number-->
     <div class="form-group">
     <label class="control-label col-sm-2" for="city">Phone number:</label>
      <div class="col-sm-10">          
		<input type="text" class="form-control" id="phone_number" placeholder="Enter phone number" ng-model="phone_number"><br>
		<span style="color:red;">{{phone_number}}</span>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default btn-primary" ng-click="reg()">Registration</button>&nbsp;
        <a href="index_test.html">Login</a>
      </div>
    </div>
  </form>
</div>
<hr>	
</body>
</html>
<!--<script type="text/javascript">
    var ngModule=angular.module('app',[]);
  	ngModule.controller('myCtrl', ['$scope', '$http', function($scope, $http) {
        $scope.show_errors=false;
        $scope.send_data = function () {
        var login = $scope.login;
        var password=$scope.password; 
        var request = {"login":login,"password":password};
	    	$http.post("http://dv-app/app/api/user/", request).success(function (response) {
		  	//document.write(response);
		  	if(response!==""){
          $scope.data="Есть ответ";
          console.log($scope.data);
			  }
			  else{
			  	$scope.errors="Ошибка сервера";
          $scope.show_errors=true;
			  }
		});          
		
	};
    }]);
</script>-->